#wrapper
	#header
		%ul#nav
			%li
				%a{:href => '#' , :class => 'active'} Dashboard
			%li 
				= link_to "Courses", courses_path

		%input{:type => 'text', :name => 'searchbar', :value => 'Search'}

		%ul#user-info
			%li= link_to current_user.firstname, current_user
			%li
				%a{:href => '#' } Settings

	#header2
		#left.column
			#header
				%ul#nav
					%li
						%a{:href => "#"} Checklist
		#middle.column
			#header
				%ul#nav
					%li
						%a{:href => "#"} Messages
		#right.column
			#header
				%ul#nav
					%li
						%a{:href => "#"} Questions
	#content
		#left.column2
			#header2
				#header
					%ul#nav
						%li
							%a{:href => "#"} Calendar
		#right.column2
			%h1
				%a{:href => "#"} News Feed
			%ul.tabbar
				%li.activetab ALL
				- current_user.courses.each do |course|
					%li.inactivetab= course.subjectCode + " " + course.courseNumber.to_s
			#news-feed
				%ul
					%li
					- current_user.courses.each do |course|
						- course.announcements.each do |announcement|
							%li
								#news-post 
									#news-header
										%h1= course.subjectCode + " " + course.courseNumber.to_s
										%h2= announcement.title
										#span.dueDate= announcement.dueDate
									%p= announcement.description
									#news-details
										%span.datePosted= announcement.created_at
										%span.atype= announcement.atype
										%a{:href => "#", :class => "ask"} Ask a question
						
	#footer
