<% @course.sections.each do |section| %>
<ul>
<li>Section: <%= section.sectionId %> </li>
<li>Days: <%= section.days %></li>
	<li>
		Time: <%= section.startTime %> - <%= section.endTime %>
	</li>
	<li>
		Type: <%= section.type %>
	</li>
	<li>
		Building: <%= section.building %>
	</li>
	<li>
		Instructor: <%= section.instructor %>
	</li>
	<li>
		Room: <%= section.room %>
	</li>
</ul>	
<% end %>
