<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :isStudent %><br />
    <%= f.check_box :isStudent %>
  </div>
  <% f.fields_for :notify_pref do |pref_form| %>
    <div class="field">
      <%= pref_form.label :email %><br />
      <%= pref_form.check_box :email %>
    </div>
    <div class="field">
      <%= pref_form.label :text %><br />
      <%= pref_form.check_box :text %>
    </div>
    <div class="field">
      <%= pref_form.label :android %><br />
      <%= pref_form.check_box :android %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
