<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= "#{@user.firstname} #{@user.lastname}" %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Isstudent:</b>
  <%= @user.isStudent %>
</p>

<p>
  <b>Notification Preferences:</b>
  <table>
    <tr>
      <td>Use email:</td>
      <td><%= @user.notify_pref.email %></td>
    </tr>
    <tr>
      <td>Use text:</td>
      <td><%= @user.notify_pref.text %></td>
    </tr>
    <tr>
      <td>Use Android app:</td>
      <td><%= @user.notify_pref.android %></td>
    </tr>
  </table>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
