<h1>New Announcment</h1>
<%= form_for @announcement,:as => :announce,  :url => { :action => "create"} do |f| %>
  <%= f.label "title" %>
  <%= f.text_field :title %><br />
  <%= f.label "description" %><br />
  <%= f.text_area :description %><br />
  Date <%= select_date Date.today, :prefix => :dueDate %><br />
  Time <%= select_time nil, :prefix => :dueDate, :prompt => true, :minute_step => 15 %><br />
  Course <%= f.select(:course_id, options_for_select(current_user.courses)) %><br />
  <%= f.submit "Announce" %>
<% end %>
